<h1>This is Admin pages</h1>

  <p>


  </p>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Status</th>
            <th>Username</th>
            <th>Login Email</th>
            <th>Batch Year/ Month</th>
            <th>Password Reset</th>
          </tr>
        </thead>
        <tbody>
          <% @user.each do |t| %>
            <tr>
              <td>
                <% if t.admin == 1 %>
                  <text> Mentor </text>
                <% else  %>
                  <text> Alumnies </text>
                <% end %>
              </td> 
              <td>
                <%= link_to "#{t.username}", user_path(t.id) %>
              </td> 
              <td>
                <%= t.login_email %>
              </td>
              <td>
                <%= t.batch_year%> / <%= t.batch_month %>
              </td>
              <td>
                <%= link_to "Reset", user_reset_path(t.id) %>
              </td> 
            </tr>
    
          <% end %>
        </tbody>
      </table>
    </div>