<h1>This is newsfeed index</h1>

  <% @newstable.each_with_index do | t, index| %>
    <div>
      <tr>
        <div width: 33%>
          <th>
            <%= link_to t do %>
            <%= "#{t.title}" %>
            <% end %>
          </th>
          <th>
            News Created by: <%= link_to t.user.username, user_path(t.user) %>
          </th>
        </div>  
      </tr>
    </div>
  </thead>
  <tbody>
    <tr>
      <% t.images.each do |image| %>
      <%= image_tag image.middle.to_s if image.url.present? %>
      <% end %>
    </tr>



<% end %>

<br>

<div>
  <%= link_to "Create newsfeed", new_newstable_path %>
</div>

