<!DOCTYPE html>
<html>
<head>
  <title>NaAlumni</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
		<% if user_logged_in? %>
    <span>
      <%= "logout"%>
    </span>
    <span>
      <%= "Welcome #{current_user.username}" %>
    </span>
    <% else %>
		<span>
		<%= link_to "Login", new_session_path %>
		</span>
		<% end %>
</div>
<%= yield %>

</body>
</html>
